@tailwind base;
@tailwind components;
@tailwind utilities;

 html, body { 
      scroll-behavior: smooth !important
    }

@layer base {
    body{
        @apply  bg-[#ecf0f3] text-[#1f2937] tracking-wide
    }
}

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }
  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white px-2 py-1 flex gap-1 items-center hover:bg-gradient-to-l
  }

  @import "react-image-gallery/styles/css/image-gallery.css";
  
  .screen {
    display: block;
    /* width: 300px; */
    /* height: 100%; */
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  .screen img {
    /* bottom: -600px; */
    top: 0px;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin:0;
    padding:0;
    -webkit-transition: top 11s;
    -moz-transition: top 11s;
    -ms-transition: top 11s;
    -o-transition: top 11s;
    transition: bottom 11s;
  }
  .screen:hover img {
    top: -550px;
    -webkit-transition: all 11s;
    -moz-transition: all 11s;
    -ms-transition: all 11s;
    -o-transition: all 11s;
    transition: all 11s;
  }